

body {
  font-family: Arial, sans-serif;
  image-rendering: auto;

}
.sidebar {
  background-color: #b5d3f1;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
}

.content {
  padding: 20px;
}

.card {
  margin-bottom: 9px;
 
}

.logo{
    color :  red;
    font-family: 'Courier New', Courier, monospace;   
}

.marquee{
    color: rgb(243, 78, 78);
    font-size: 20px;
    font-weight: 100;
    
}

.card-title{
    font-size: 15px;
    font-style: italic;
    color: rgb(43, 19, 10);
    font-weight: bolder;
}

.card-title-1{
    text-align: center;
    font-weight: bolder;
}

.new{
    border-radius: 15px; 
    background-color: cornflowerblue;
    border-bottom: solid red 3px;
}